{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>
    {% block title %}
      Films
    {% endblock %}
  </title>
  <link rel='stylesheet' href='{% static "css/normalize.css" %}'>
  <link rel='stylesheet' href='{% static "css/style.css" %}'>
  {% block header %}{% endblock %}
</head>
<body>
  <header>
    <h1>Films</h1>
    <nav>
      <ul>
        <li><a href='{% url "index" %}'>Home</a></li>
        <li><a href='{% url "about" %}'>About</a></li>
        <li><a href='{% url "contact" %}'>Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href='{% url "auth_logout" %}'>Log out</a></li>
        {% else %}
          <li><a href='{% url "auth_login" %}'>Log in</a></li>
          <li><a href='{% url "registration_register" %}'>Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
</body>
</html>
